<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include '/views/common/css.html'?>
</head>
<body>
    <!-- 登录 -->
    <div class="login">
        <div class="login-wrap">
            <div class="avatar">
                <img src="/views/public/uploads/monkey.png" class="img-circle" alt="">
            </div>
            <form id="formLogin" class="col-md-offset-1 col-md-10">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input type="text" class="form-control" name="tc_name" placeholder="用户名" value="前端学院">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <i class="fa fa-key"></i>
                    </span>
                    <input type="password" class="form-control" name="tc_pass" placeholder="密码" value="123456">
                </div>
                <button type="submit" class="btn btn-lg btn-primary btn-block">登 录</button>
            </form>
        </div>
    </div>

    <?php include '/views/common/script.html'?>
    
</body>
</html>
<script>
//    $('#formLogin').on('click',function (){
//      alert(123);
//        return false;// 阻止浏览器的默认行为和冒泡
//    })
     
    
//    require(['../public/js/dashboard/login']);
    require(['login']); //因为login模块路径 ，已经放在require.config这个配件文件当中了，因此直接调用 即可
</script>