<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>学IT - 后台管理系统</title>
  <?php include '/views/common/css.html'?>
  <!--<link rel="stylesheet" href="/views/public/assets/uploadify/uploadify.css">-->
</head>
<body>

<!-- 侧边栏 -->
<?php include '/views/common/aside.html'?>
<!-- 主体 -->
<div class="main">
  <div class="container-fluid">
    <!-- 头部 -->
    <?php include '/views/common/head.html'?>
    <!-- 讲师资料 -->
    <div class="body teacher-profile">
      <div class="settings">
      
      </div>
    </div>
  </div>
</div>

<?php include '/views/common/script.html'?>
<script type="text/template" id="profile_tpl">
  <form action="" class="form-horizontal">
    <div class="form-group">
      <label for="" class="col-md-3 control-label">姓名</label>
      <div class="col-md-5">
        <p class="form-control-static">{{tc_name}}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">头像</label>
      <div class="col-md-2 preview">
        <img src="{{tc_avatar?tc_avatar:'/views/public/images/default.png'}}">
        <input type="file" id="upfile">
        <div class="cover">
          <i class="fa fa-upload"></i>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">昵称</label>
      <div class="col-md-5">
        <input type="text" name="tc_roster" value="{{tc_roster}}" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">性别</label>
      <div class="col-md-3">
        <label class="radio-inline">
          <input type="radio" name="tc_gender" value="0" {{if tc_gender==0}}checked{{/if}}> 男
        </label>
        <label class="radio-inline">
          <input type="radio" name="tc_gender" value="1" {{if tc_gender==1}}checked{{/if}}> 女
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">出生日期</label>
      <div class="col-md-5">
        <input type="text" name="tc_birthday" value="{{tc_birthday}}" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">籍贯</label>
      <div class="col-md-5" id="region">
        <select name="" id="p" class="form-control input-sm">
          <option value="">请选择省</option>
        </select>
        <select name="" id="c" class="form-control input-sm">
          <option value="">请选择市</option>
        </select>
        <select name="" id="d" class="form-control input-sm">
          <option value="">请选择区县</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">手机号码</label>
      <div class="col-md-5">
        <input type="text" name="tc_cellphone" value="{{tc_cellphone}}" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">电子邮箱</label>
      <div class="col-md-5">
        <input type="text" name="tc_email" value="{{tc_email}}" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">入职日期</label>
      <div class="col-md-5">
        <input type="text" name="tc_join_date" value="{{tc_join_date}}" class="form-control input-sm">
      </div>
    </div>
    <div class="form-group">
      <label for="" class="col-md-3 control-label">个人介绍</label>
      <div class="col-md-5 ckeditor">
        <textarea name="" rows="15" class="form-control input-sm">{{tc_introduce}}</textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-8">
        <a href="./course_add_step2.html" class="btn btn-success btn-sm pull-right">保 存</a>
        <a href="./repass.html" class="btn btn-link btn-sm pull-right">更改密码？</a>
      </div>
    </div>
  </form>
</script>
<script>
  /**
   * 思路：
   * 1. 当单击个人中心的时候，要进行页面的跳转  在common文件夹的head.html文件中，修改个人中心的链接跳转
   * 2. 修改页面的文件引入信息
   * 3. 要向服务器发送请求，把当前登陆账号的信息渲染到当前页面上
   * 4. 在libs/config.js文件当中添加uploadify路径  (文件上传插件)
   * 5. 在settings.js 模块当中调用插件，并设置属性
   * 6.
   */

  require(['js/dashboard/settings']);
</script>
</body>
</html>